#container {font-family: 'Arial Black', 'serif'}
#container ul {list-style-type: none}
@media screen and (min-width: 100px) {
    ul li {
        background-color: #999999;
        padding: 5px 10px;     
    }
    .entry > a[href] { 
        color: white; 
        text-decoration: none; 
    }
    a::before {
        content: '■ ';
        width: 10px;
        height: 15px;
        color: white;
    }
}