.weather-widget {
	text-align: center;
 	vertical-align: middle;
 	line-height: 100%;
	ul {
        list-style-type: none;
    }
    .weather-symbol {
        font-size: 1.9em;
    }
    li {
        display: inline;
        vertical-align: sub;
        font-size: 2.0em;

        &:not(:last-child)::after {
            content: ' - ';
        }
    }
}